doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 79 misol 
        link(rel="stylesheet" href="../../css/mormalize.css")
        link(rel="stylesheet" href="../../sass/style.css")
    body 
    header.header 
        .header_loge
            .header_link
                h2 Reading list
                img(src="../../image/Vector (19).png" alt="")
            hr
        .header_loge
            .header_loge2 
                .loge 
                    img(src="../../image/Icon.png", alt="")
                    h3 Search
                img.img(src="../../image/microphone.png", alt="")
            ol 
                li Psychology
                li.li Productivity
                li.li Design
                li.li Film
    main.main 
        .main_logee
            img(src="../../image/Vector (20).png", alt="")
            h4 RECOMMENDED FOR YOU
        .main_loge 
            .main_loge_div_1 
                .div 
                    .span
                    h4 Author Name
                h3.main_loge_h4 How to use design <br /> thinking in your projects 
            .main_loge_div_2
        .main_loge
            .main_loge_span_1
                p May 20 路 5 min read
            .main_loge_span_2
                img(src="../../image/Vector (17).png" alt="")
                img(src="../../image/Vector (18).png" alt="")
    hr
    main.main 
        .main_loge 
            .main_loge_div_1 
                .div 
                    .span
                    h4 Author Name
                h3.main_loge_h4 How to use design <br /> thinking in your projects 
            .main_loge_div_2
        .main_loge
            .main_loge_span_1
                p May 20 路 5 min read
            .main_loge_span_2
                img(src="../../image/Vector (17).png" alt="")
                img(src="../../image/Vector (18).png" alt="")
    hr
    main.main 
        .main_loge 
            .main_loge_div_1 
                .div 
                    .span
                    h4 Author Name
                h3.main_loge_h4 How to use design <br /> thinking in your projects 
            .main_loge_div_2
        .main_loge
            .main_loge_span_1
                p May 20 路 5 min read
            .main_loge_span_2
                img(src="../../image/Vector (17).png" alt="")
                img(src="../../image/Vector (18).png" alt="")
    hr
    main.main 
        .main_loge 
            .main_loge_div_1 
                .div 
                    .span
                    h4 Author Name
                h3.main_loge_h4 How to use design <br /> thinking in your projects 
            .main_loge_div_2
        .main_loge
            .main_loge_span_1
                p May 20 路 5 min read
            .main_loge_span_2
                img(src="../../image/Vector (17).png" alt="")
                img(src="../../image/Vector (18).png" alt="")
    hr





